.connexion-input{
&:focus{
  outline: none;
}
  font-size: 1em;
  padding-left: 10px;
  width: 35%;
  height: 3em;
  border-style: solid;
  border-color: #294E6E;
  border-width: 0 0 1px 0;
  border-radius: 25px;
  margin-bottom: 10px;
}
.connexion-btn{
  width: 100px;
  height: 50px;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
  color: #294E6E;
  padding-bottom: 50px;
}

.booking-link{
  margin-top: 10px;
    text-decoration: none;
    background: linear-gradient(90deg, transparent 50%, #294E6E 50%);
    background-size: 300%;
    background-position: 0%;
    transition: 0.5s;
    position:relative;
    color: #294E6E;
    padding:10px;
    border: 1px solid #294E6E;
    &:hover, &:active{
      background-position: 100%;
      color: white;
    }
}