.connexion-input{
&:focus{
  outline: none;
}
  font-size: 1em;
  padding-left: 10px;
  width: 35%;
  height: 3em;
  border-style: solid;
  border-color: #294E6E;
  border-width: 0 0 1px 0;
  border-radius: 25px;
  margin-bottom: 10px;
}
.connexion-btn{
  width: 100px;
  height: 50px;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C70B0C;
    padding-bottom: 50px;
}

.booking-link{
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    background: linear-gradient(90deg, transparent 50%, #C70B0C 50%);
    background-size: 300%;
    background-position: 0%;
    transition: 0.5s;
    position:relative;
    color: #C70B0C;
    padding:10px;
    border: 1px solid #C70B0C;
    &:hover, &:active{
      background-position: 100%;
      color: white;
    }
}

.section-title{
    border-bottom: 2px solid black;
    padding: 10px
}