.calendar-container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.calendar-date{
    text-decoration: none;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    height: 100%;
    color: #294E6E;
}

.calendar-hour{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    color: #294E6E;
}

.no-margin{
    margin:0;
}