.player{
  margin-bottom: 50px;
  width:100%;
  & .inputs{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:100%
  }
  & .more-inputs{
    margin-top:20px;
    
  }
}