.teams-displayer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.teams-display{
    border: 4px solid #294E6E;
    padding: 10px 0 20px 10px ;
    width: 40%;
    & .name-display{
        display: flex;
        align-items: center;
        
        & .right-margin{
                text-decoration: underline;
                margin: 0 5px 0 0
        }
    }
    & .with-padding{
            padding: 0 0 0 20px;
        }
}

.teams-container{
    color: #294E6E;
}