.teams-displayer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.teams-display{
    padding: 10px 0 20px 10px ;
    width: 40%;
    & .name-display{
        display: flex;
        align-items: center;
        
        & .right-margin{
                text-decoration: underline;
                margin: 0 5px 0 0
        }
    }
    & .with-padding{
            padding: 0 0 0 20px;
        }
}

.teams-container{
    color: black;
}
.display-border-right{
    height: 125px;
    border-right: 4px solid #C70B0C;
}

.presentation-teams{
    text-align: center;
    color: #C70B0C;
    border-bottom: 2px solid black;
    padding: 10px;
}