.center{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
}
.carousel-container{
	width:100%;
}

.left-div{
	width:50%;
}

.right-div{
	background-color: rgba(240, 255, 240, 0.486);
	margin-left:50px;
	margin-right: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width:25%;
	text-align: center;
}
.slider a.previousButton {
	left: 5%;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.315);
	color:white;
}

.slider a.nextButton {
	right: 5%;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.315);
	color:white;
}

//______________________________________ Pas mon css 

.slider {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden
}

.slider a.previousButton, .slider a.nextButton {
	font-size: 22px;
	line-height: 0;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	z-index: 1;
	color: #333;
	padding: 10px;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden
	/* prevent jump effect when scaling */
}

.slider a.previousButton:not(.disabled):hover, .slider a.nextButton:not(.disabled):hover {
	-webkit-transform: translateY(-50%) scale(1.25);
	        transform: translateY(-50%) scale(1.25);
	cursor: pointer;
}


.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden
}

.slide.hidden {
	visibility: hidden;
}

.slide.previous {
	left: -100%;
}

.slide.current {
	left: 0;
}

.slide.next {
	left: 100%;
}

.slide.animateIn,
	.slide.animateOut {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

.slide.animateIn.previous,
		.slide.animateIn.next {
	left: 0;
	visibility: visible;
}

.slide.animateOut.previous {
	left: 100%;
}

.slide.animateOut.next {
	left: -100%;
}

