.activity-container{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px 0 100px 0;
    height: 70%;
    &.lasergame{
        transition: 0.5s;
        background: url('../../../../svg/photo8.jpg') center/200%;
        background-repeat:no-repeat;
    &:hover, &:active{
        transition: 0.5s;
        background: url('../../../../svg/photo8.jpg') center/250%;
    }
}&.escapegame{
    background: url('../../../../svg/photo1.jpg') center/200%;
    background-repeat:no-repeat;
    &:hover, &:active{
        transition: 0.5s;
        background: url('../../../../svg/photo1.jpg') center/250%;
    }
}&.guidedtour{
    background: url('../../../../svg/photo6.jpg') center/200%;
    background-repeat:no-repeat;
    &:hover, &:active{
        transition: 0.5s;
        background: url('../../../../svg/photo6.jpg') center/250%;
    }
}
}
.activity-display-text{
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #294E6E ;
    border-bottom: 4px solid #C70B0C ;
    border-radius: 100px 0 100px 0;
    background-color: rgba(224, 224, 224, 0.801);
    width:75%;
    height: 75%;
}
.activity-display-text-active{
    transition: 0,5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:75%;
    height: 75%;
    border-top: 4px solid #294E6E ;
    border-bottom: 4px solid #C70B0C ;
    border-radius: 100px 0 100px 0;
    background-color: rgba(41, 78, 110, 0.829);
    color: white;
}
.activity-title{
font-size: 1.5rem;
}