.number-container{
    display: flex;
    justify-content: flex-start;
}

.number-player{
    display:flex;
    flex-direction: column;
    width:50%;
    padding-left: 10%;
}

.taille{
    width:50%
}

.right-div{
	background-color: rgba(199, 199, 199, 0.192);
	margin-left:50px;
	margin-right: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width:25%;
	text-align: center;
}