.number-container{
    display: flex;
    justify-content: flex-start;
}

.number-player{
    display:flex;
    flex-direction: column;
    width:50%;
    padding-left: 10%;
}

.taille{
    width:75%
}

.right-div-booking{
	border: 4px solid #294E6E;
	background-color: rgba(199, 199, 199, 0.226);
	padding-left:50px;
	padding-right: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width:25%;
	text-align: center;
	color: #C70B0C;
	width: 150px;
}
.price-container{
	display: flex;
}
.price-one-player{
	font-size: 4rem;
}
.price-details{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}