.activities-display-text{
    transition: 0.25s;
    align-items: center;
    margin:0 0 50px 0;
    height:100%;
    color: black;
    border-top: 4px solid #294E6E ;
    border-bottom: 4px solid #C70B0C ;
    border-radius: 100px 0px 100px 0px;
}

.btn-activities-booking-taille-1{
    width: 30%;
}
.btn-activities-booking-taille-2{
    width: 30%;
}.btn-activities-booking-taille-3{
    width: 30%;
}
.activities-List{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.no-active{
    display:none;
}
.activities-active{
        transition: 0.5s;
        height: 3rem;
        display: flex;
        justify-content: flex-start;
        color:white;
    }

.guide-tour-option{
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: flex-start;
}
.activities-title{
    text-align: center;
    color:  #C70B0C;
    text-decoration: underline black;
}

.activities-container{
    color: black;
}

.image-resize{
    border-radius: 97px 0px 100px 0px;
    width:100%;
    position: (0%,0%);
}

.laser-option, .guide-tour-option, .escape-option{
    width:93%;
    font-size: 0.90em;
    color: black;
}

.section-title{
    border-bottom: 2px solid black;
    padding: 10px;
    color: #C70B0C;
  }