.navbar-container{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height:58px;
  border-top: 0.1rem solid hsla(0,0%,59%,.55);;
  border-bottom: 0.1rem solid hsla(0,0%,59%,.55);;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 20px;
}

.nav-link{
  text-decoration: none;
  color: black;
  height: 50px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.nav-link:hover, .active{
  border-top: 4px solid transparent;
  border-bottom: 4px solid #C70B0C;
}

.text-link{
  padding: auto;
}
.text-link:hover{
  padding: auto;
}