.login{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
}
.connexion-input{
  &:focus{
    outline: none;
  }
    font-size: 1em;
    padding-left: 10px;
    width: 35%;
    height: 3em;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  .connexion-btn{
    width: 100px;
    height: 50px;
  }