.register-player{
  padding: 0 12.5% 0 12.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .register-submit{
    width: 200px;
    font-size: 1rem;
      margin-top: 10px;
      margin-bottom: 100px;
      text-decoration: none;
      background: linear-gradient(90deg, transparent 50%, #C70B0C 50%);
      background-size: 300%;
      background-position: 0%;
      transition: 0.5s;
      position:relative;
      color: #C70B0C;
      padding:10px;
      border: 1px solid #C70B0C;
      &:hover, &:active{
        background-position: 100%;
        color: white;
      }
      &:focus{
        outline: none;
     }
  }
}
