
.App-logo{
  width: 150px;
  height: 85px;
}
  
body{padding: 20px 12.5% 0 12.5%;}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}

.language-btn{
  font-size: 0.90em;
  padding: 10px 0 10px 20px;
  border: none;
  background-color: white;
}

.language-btn:hover, .language-btn:focus{
  outline: none;
}
.language-text:hover{
  text-decoration: underline;
  cursor: pointer;
  color:black;
}
.language-text{
  margin:10px 0 10px 0;
  padding: 0 20px 0 20px;
  border-right: 0.1rem solid hsla(0,0%,59%,.55);
}

.link-btn{
  padding: 0 0 0 20px;
  text-decoration: none;
  color: #545454;

}
.link-btn:hover{
  text-decoration: underline;
  cursor: pointer;
  color: #C70B0C;
}
.no-margin{
  margin:0;
}

.text-decoration{
  text-decoration: coral;
}

.no-text-decoration{
  text-decoration: none;
}
